# Ignore raw data files
*.json
*.xml
*.zip

# Exclude specific files that might contain sensitive information
export.xml.zip
measurements.json

# Ignore temporary or log files
*.log
*.tmp
.DS_Store

# Ignore data backup files
*.bak
*.old
*.orig

# Ignore folders for local-only processing
/raw_data/
